<div class="information-widget">
	<ul class="nav nav-tabs nav-tabs-simple">
<li class="active">
<a href="#widget-15-2-tab-1">
APPL<br>
22.23<br>
<span class="text-success">+60.223%</span>
</a>
</li>
<li><a href="#widget-15-2-tab-2">
FB<br>
45.97<br>
<span class="text-danger">-06.56%</span>
</a>
</li>
<li><a href="#widget-15-2-tab-3">
GOOG<br>
22.23<br>
<span class="text-success">+60.223%</span>
</a>
</li>
</ul>

<div class="rickshaw-stacked-bars" class="rickshaw-chart"></div>
</div>