<nav class="page-sidebar" data-pages='sidebar'>
  <div class="sidebar-header">
    <img src="/images/logo_white.png" alt="logo" class="brand" data-src="/images/logo_white.png" data-src-retina="/images/logo_white_2x.png" width="78" height="22">
    <div class="sidebar-header-controls">
      <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
      </button>
      <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
      </button>
    </div>
  </div>

  <div class="sidebar-menu">
    <ul class="menu-items">
      <li class="m-t-30 ">
        <a href="/app/usuarios/" class="detailed">
          <span class="title">Usuarios</span>
        </a>
        <span class="icon-thumbnail bg-success"><i class="fa fa-users"></i></span>
      </li>
      <li>
        <a href="/app/fuentes/" class="detailed">
          <span class="title">Fuentes</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-upload"></i></span>
      </li>
      <li>
        <a href="/app/dashboard/crear/" class="detailed">
          <span class="title">Dashboard</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-th-large"></i></span>
      </li>
      <li>
        <a href="/app/dashboard/editar/" class="detailed">
          <span class="title">Editor</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-th-large"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</nav>

<div class="page-container">
  <div class="header"></div>
  <div class="page-content-wrapper">
    <div class="content sm-gutter">
      <div class="container-fluid padding-25 sm-padding-10">
        <div id="main-container" class="row"></div>
      </div>
    </div>
    <div class="container-fluid container-fixed-lg footer">
      <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
          <span class="hint-text">Copyright © 2015 </span>
          <span class="font-montserrat">D6 Systems</span>.
          <span class="hint-text">Todos los derechos resevados. </span>
          <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Términos de uso</a> | <a href="#" class="m-l-10">Política de privacidad</a></span>
        </p>
        <p class="small no-margin pull-right sm-pull-reset">
          <span class="hint-text">Made with Love ®</span>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div id="modal"></div>
