.welcome-message h1 {
  text-align: center;
  font-family: Lato, sans-serif;
    font-weight: 300;
    text-transform: uppercase;

    font-size: 63px;
    color: #173B6B;
}

#mainpage-body {
  padding: 10% 10% 0% 10%;
}

.mainpage-box {
  display: inline-block;
  padding: 3% 5% 3% 5%;
  border: 4px dashed #4D6A98;
  width: 250px;
  margin: 2em;
  text-align: center;
}

.mainpage-box .btn {
  background-color: #4D6A98;
  color: white;
}

.mainpage-box .btn:hover {
  background-color: #94A4BD;
  color: black;
}

.mainpage-box i {
  font-size: 150px;
  margin-bottom: 10%;
  color: #4D6A98;
}
