.container-login {
  padding: 6% 30% 20% 30%;
}

#login-head {
  background-color: #508F9E;
  height: 50px;
  border-top: 1px solid ;
  border-right: 1px solid ;
  border-left: 1px solid ;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  margin-left: 7%;
  margin-right: 7%;

  padding: 0% 10% 0% 24%;
}

#box-login {
  background-color: white;
  padding-top: 5%;
  border-top: 1px solid ;
  border-right: 1px solid ;
  border-bottom: 1px solid ;
  border-left: 1px solid ;

  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  margin-left: 7%;
  margin-right: 7%;
}

#singin {
  margin-bottom: 5%;
  background-color: #E7E5E5;
  color: #626262;
}
.error {
  background-color: white;
}