.img-container {
	font-size: 100px;
}

.bgc-gray {
	background-color: #F7F6F6 !important;
	border: #959595 !important;
	border-style: solid !important;
	border-width: 1px !important;
}

@media (max-height: 660px) {
 .img-container i{
		display: none;
  }
}