.img-container {
  font-size: 100px;
}

.modal {
    background-color: rgba(192, 192, 192, 0.75) !important
}

.general-container {
  width: 520px;
  height: 470px;
  padding: 2% 5% 0% 5%;
  background-image: url('/../../../../../images/cuadricula.gif');
  border-radius: 3px;
  border-color: rgb(231, 226, 226);
  border-style: solid;
  border-width: thin;
}

.preview-zone {
  height: 400px;
}

.width-1200 {
  width: 1200px;
}

.title-zone {
  height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1%;
}

.margin-left-10-per {
  margin-left: 10%;
}

.margin-left-7-per {
  margin-left: 7%;
}

.margin-top-5-per {
  margin-top: 5%;
}

.padding-left-5-per {
  padding-left: 5% !important;
}

.padding-right-2-per {
  padding-right: 2%;
}

.text-left {
  color: #626262;
}

.modal-container {
  padding-left: 10%;
  padding-right: 10%;
}

.blue-light {
  background-color: #6DC0F9;
  color: #6DC0F9;
}
.green-light {
  background-color: #40D9CA;
  color: #40D9CA;
}
.purple-light {
  background-color: #8A7DBE;
  color: #8A7DBE;
}
.red-light {
  background-color: #F77975;
  color: #F77975;
}
.yellow-light {
  background-color: #F9D975;
  color: #F9D975;
}

.blue {
  background-color: #48B0F7;
  color: #48B0F7;
}
.green {
  background-color: #10CFBD;
  color: #10CFBD;
}

.purple {
  background-color: #6D5CAE;
  color: #6D5CAE;
}

.red {
  background-color: #F55753;
  color: #F55753;
}

.yellow {
  background-color: #F8D053;
  color: #F8D053;
}

.blue-dark {
  background-color: #3C93CE;
  color: #3C93CE;
}

.green-dark {
  background-color: #0DAD9E;
  color: #0DAD9E;
}

.purple-dark {
  background-color: #5B4D91;
  color: #5B4D91;
}

.red-dark {
  background-color: #CD4945;
  color: #CD4945;
}

.yellow-dark {
  background-color: #CFAE45;
  color: #CFAE45;
}

.blue-darker {
  background-color: #2B6A94;
  color: #2B6A94;
}
.green-darker {
  background-color: #0A7C71;
  color: #0A7C71;
}
.purple-darker {
  background-color: #413768;
  color: #413768;
}
.red-darker {
  background-color: #933432;
  color: #933432;
}
.yellow-darker {
  background-color: #957D32;
  color: #957D32;
}

.empty-preview {
  margin-top: 23%;
  height: 350px;
}

.empty-preview p {
  font-size: 72px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%; 
  color: rgba(98, 98, 98, 0.5);
  font-family: Lato, sans-serif;
 }