.img-container {
	font-size: 100px;
}

.bgc-gray {
	background-color: #F7F6F6 !important;
	border: #959595 !important;
	border-style: solid !important;
	border-width: 1px !important;
}

.preview-zone {
	width: 450px;
	height: 400px;
}

.preview {
	margin-top: 15%;
}

.title-zone {
	height: 30px;
	font-weight: 900;
	text-transform: uppercase;
}

.margin-left-10-per {
	margin-left: 10%;
}

.modal-container{
	padding-left: 10%;
	padding-right: 10%;
}

@media (max-height: 660px) {
 .img-container i{
		display: none;
  }
}