.source-list-item {
  height: 330px !important;
  padding: 10px 10px 10px 10px;
}

.item-container {
  height: 100%;
}

.top {
  background-color: red;
  height: 50%;
  padding: 80px 25px 20px 25px;
}

.middle {
  height: 25%;
  padding: 25px 25px 25px 25px;
}

.bottom {
  height: 25%;
  padding: 10px 25px 10px 25px;
}

.middle a {
  color: inherit;
  border: 2px solid #ffffff !important;
  background-color: transparent;
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
}

.middle a:hover {
  background-color: white;
  color: gray !important;
}

.item-container i {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.item-container i:hover {
  color: white;
}

// Dropzone

.dropzone-container {
    font-size: 250px;
}

.dropzone-container i {
  color :#087A6D;
}

#dropzone {
  border: 2px dashed #0087F7;
  margin-left: 25%;
  width: 50%;
  font-size: 30px;
  opacity: .5;
}

#dropzone:hover {
  opacity: 1;
}

.image-upload {
  margin-left: 39%;
}

.button-add {
  margin-left: 25%;
  background-color: #087A6D !important;
}

.button-add i {
  color: white;
}

.button-container {
  margin-left: 53%;
}

.button-container i {
  color: #D3D3E5;
}

.button-next {
  margin-left: -55px;
}

@media (max-width: 1024px) {

  .button-add {
    margin-left: 26%;
  }

  .image-upload {
    margin-left: 45%;
  }

  .dropzone-container {
    font-size: 100px;
  }

  .button-container {
    margin-left: 47%;
    margin-top: 1%;
  }

  .button-next {
    margin-left: -20px;
  }
}

@media (max-width: 800px) {
  
  .button-add {
    margin-left: 25%;
  }

  .image-upload {
    margin-left: 45%;
  }

  .dropzone-container {
    font-size: 100px;
  }

  .button-container {
    margin-left: 42%;
    margin-top: 1%;
  }

  .button-next {
    margin-left: -20px;
  }
}

@media (max-width: 470px) {

  .button-add {
    margin-left: 34%;
  }

  .image-upload {
    margin-left: 36%;
  }

  .dropzone-container {
    font-size: 100px;
  }

  .button-container {
    margin-left: 15%;
    margin-top: 2%;
  }

  .button-next {
    margin-left: -20px;
  }
}