
<div class="ct-chart">
  <h2 class="pull-left">SONY</h2>
  <h2 class="pull-left m-l-50 text-danger">
    <span class="bold">448.97</span>
    <span class="text-danger fs-12">-318.24</span>
  </h2>
  <div class="clearfix"></div>
  <div class="full-width">
    <ul class="list-inline">
      <li><a href="#" class="font-montserrat text-master">1D</a></li>
      <li class="active"><a href="#" class="font-montserrat  bg-master-light text-master">5D</a></li>
      <li><a href="#" class="font-montserrat text-master">1M</a></li>
      <li><a href="#" class="font-montserrat text-master">1Y</a></li>
    </ul>
  </div>
</div>
