<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="container-xs-height">
      <div class="row-xs-height">
        <div class="social-user-profile col-xs-height text-center col-top">
          <div class="thumbnail-wrapper d48 circular bordered b-white">
            <img src="../../../images/user.png" height="55" width="55">
          </div>
          <br>
          <i class="fa fa-check-circle text-success fs-16 m-t-10"></i>
        </div>
        <div class="col-xs-height p-l-20">
          <h3 class="no-margin">David Nester</h3>
          <p class="no-margin fs-16">Esta emocionado con la nueva aplicacion DASHBOARDS.  </p>
          <p class="hint-text m-t-5 small">Culiacán Sinaloa | Dashboards .inc</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <p class="no-margin fs-16">
      Hola mi nombre es David Nester, y esta es mi pagina de perfil de DASHBOARDS. 
    </p>
    <p class="hint-text m-t-5 small">
      Me encanta leer, los deportes y hablar con personas que se encuentran en la misma industria que yo.
    </p>
  </div>

  <div class="col-md-3">
    <p class="m-b-5 small">1,435 Nuevos usuarios</p>

    <ul class="list-unstyled ">
      <li class="m-r-10">
        <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
          <img data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="Profile Image" src="../../../images/profile/1.jpg" height="35" width="35">
        </div>
      </li>
      <li>
        <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
          <img data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" alt="Profile Image" src="../../../images/profile/2.jpg" height="35" width="35">
        </div>
      </li>
      <li>
        <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
          <img data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" alt="Profile Image" src="../../../images/profile/3.jpg" height="35" width="35">
        </div>
      </li>
      <li>
        <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
          <img data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" alt="Profile Image" src="../../../images/profile/4.jpg" height="35" width="35">
        </div>
      </li>
      <li>
        <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
          <img data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" alt="Profile Image" src="../../../images/profile/5.jpg" height="35" width="35">
        </div>
      </li>
      <li>
        <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
          <img data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" alt="Profile Image" src="../../../images/profile/6.jpg" height="35" width="35">
        </div>
      </li>
      <li>
        <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
          <img data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" alt="Profile Image" src="../../../images/profile/7.jpg" height="35" width="35">
        </div>
      </li>
      <li>
        <div class="thumbnail-wrapper d32 circular b-white">
          <div class="bg-master text-center text-white"><span>+34</span></div>
        </div>
      </li>
    </ul>
    <p class="m-t-5 small">Agregar a contactos</p>
  </div> 

  <div class="col-md-2"></div>
</div>