<div class="user-item">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1 user-item-thumbnail m-t-5">
      <img src="../../../images/user.png" height="40" width="40">
    </div>
    <div class="col-md-8 user-item-name m-t-5">
      <p>{{name}}</p>
    </div>
    <div class="col-md-1 m-t-10">
      <button class="btn btn-primary add">
        <i class="fa fa-plus"></i></button>
      </div>
  </div>
</div>