<div class="row">
  <div class="col-md-1"></div>
  
  <div class="col-md-4">
    <div class="section-container">
      <div class="container-xs-height">
        <div class="row-xs-height">
          <div class="social-user-profile col-xs-height text-center col-top">
            <div class="thumbnail-wrapper d48 circular bordered b-white">
              <img src="../../../images/user.png" height="55" width="55">
            </div>
            <br>
            <i class="fa fa-check-circle text-success fs-16 m-t-10"></i>
          </div>
          <div class="col-xs-height p-l-20">
            <h3 id='name' class="no-margin">David Josue Nester</h3>
            <p class="no-margin fs-16">Esta emocionado con la nueva aplicacion DASHBOARDS.  </p>
            <p class="hint-text m-t-5 small">Culiacán Sinaloa | Dashboards .inc</p>
          </div>
        </div>
      </div>
      
      <div class="profile-data">
        <div id='name2'>David Josue Nester</div>
        <div id='username'> DNesterAl</div>
        <div id='email'>Davidnester@gmail.com</div>
      </div>
      <button id="edit-info" class="btn-edit btn btn-primary btn-cons btn-animated from-left fa fa-pencil pull-right" type="button">
  		  <span>Editar Información</span>
  	  </button>
      <button id="edit-pass" class="btn-edit btn btn-primary btn-cons btn-animated from-left fa fa-pencil pull-right" type="button">
        <span>Editar contraseña</span>
      </button>
    </div>

    <div class="section-container-add">
      <div class="container-xs-height">
        <div class="row-xs-height">
          <div class="social-user-profile col-xs-height text-center col-top p-l-20 p-t-20">
            <div class="thumbnail-wrapper d48 circular bordered b-white add-user-thumbnail ">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <div class="col-xs-height p-l-40 p-t-20">
            <h3 class="no-margin">Añade Usuarios</h3>
            <p class="no-margin fs-16">Añade usuarios para compartir dashboards</p>
          </div>
        </div>
      </div>
      <br>
      <div class="user-list scrollable">
        
      </div>
    </div>
  </div>

  <div class="col-md-7"> 
    <div class="section-container">
      <div class="container-xs-height">
        <div class="row-xs-height">
          <div class="social-user-profile col-xs-height text-center col-top">
            <div class="thumbnail-wrapper d48 circular bordered b-white add-user-thumbnail">
                <i class="fa fa-users"></i>
            </div>
            <br>
          </div>
          <div class="col-xs-height p-l-20">
            <h3 class="no-margin">Crea tus grupos</h3>
            <p class="no-margin fs-16">Crea grupos para compartir dashboards grupales y modificables.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>Nombre del grupo</label>
        <input id='group-name' type="email" class="form-control" required="">
      </div>

      <button id="create-group" class="btn btn-primary btn-cons btn-animated from-left fa fa-check pull-right" type="button">
        <span>Crear</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade slide-up disable-scroll" id="modal-edit-info" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
               <div class="edit-header">Editar informacion</div>
               <br>
               <hr>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Nombre y Apellidos</label>        
                <input id='name-edit' type="text" class="form-control" required="">
              </div>

              <div class="form-group">
                <label>Nombre de usuario</label>
                <input id='username-edit' type="text" class="form-control" required="">
              </div>

              <div class="form-group">
                <label>Email</label>
                <input id='email-edit' type="email" class="form-control" required="">
              </div>

              <button id="complete-edit-save" class="btn btn-primary btn-cons btn-animated from-left fa fa-save pull-right" type="button">
                <span>Guardar</span>
              </button>
              <br>
            </div>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="modal fade slide-up disable-scroll" id="modal-edit-pass" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
               <div class="edit-header">Editar Contraseña</div>
               <br>
               <hr>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Contraseña actual</label>
                
                <input id='current-pass' type="password" class="form-control" required="">
              </div>
              <div class="form-group">
                <label>Nueva contraseña</label>
                
                <input id='new-pass' type="password" class="form-control" required="">
              </div>

              <div class="form-group">
                <label>Repetir nueva contraseña</label>
                
                <input id='re-new-pass' type="password" class="form-control" required="">
              </div>

              <button id="complete-edit-pass" class="btn btn-primary btn-cons btn-animated from-left fa fa-save pull-right" type="button">
                <span>Guardar</span>
              </button>
              <br>
            </div>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>