<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">Dashboards</div>
      <div class="btn-group pull-right m-b-10">
        <button id= "save" type="button" class="btn btn-default">
            Añadir Dashboard
        </button>
      </div> 
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <th class="col-xs-5">Nombre</th>
            <th class="col-xs-3">Descripcion</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END PANEL -->
</div>
