<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">Dashboards</div>
      <div class="btn-group pull-right m-b-10">
        <a href="/app/dashboard/crear/">
          <button type="button" class="btn btn-default">Añadir Dashboard</button>
        </a>
      </div> 
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <th class="col-xs-5">Nombre</th>
            <th class="col-xs-5">Descripcion</th>
            <th class="col-xs-2">Acciones<th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END PANEL -->
</div>

<div class="modal fade slide-right" id="modalSlideLeft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
        <div class="modal-content table-block">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
            <div class="modal-body v-align-middle text-center   ">
                <h5 class="text-primary ">Marca a los usuarios que te gustaría que vean este Dashboard </h5>
                <br>
                  <div>
                    <div class="checkbox check-success">
                      <input type="checkbox" value="1" id="checkbox1">
                      <label for="checkbox1">USUARIO 1</label>
                    </div>
                    <div class="checkbox check-success">
                      <input type="checkbox" value="1" id="checkbox2">
                      <label for="checkbox2">USUARIO 2</label>
                    </div>
                    <div class="checkbox check-success">
                      <input type="checkbox" value="1" id="checkbox3">
                      <label for="checkbox3">USUARIO 3</label>
                    </div>
                    <div class="checkbox check-success">
                      <input type="checkbox" value="1" id="checkbox4">
                      <label for="checkbox4">USUARIO 4</label>
                    </div>
                    <div class="checkbox check-success">
                      <input type="checkbox" value="1" id="checkbox5">
                      <label for="checkbox5">USUARIO 5</label>
                    </div>
                  </div>
                <br>
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>