<td id="nombre" class="v-align-middle">{{name}}</td>
<td id="descripcion" class="v-align-middle">{{description}}</td>
<td class="text-center">
  <div class="btn-group btn-group-xs">
    <a href="" data-toggle="tooltip" title="Edit" class="btn btn-default editItem"><i class="fa fa-pencil "></i></a>
    <a href="" data-toggle="tooltip" title="Delete" class="btn btn-danger removeItem"><i class="fa fa-times "></i></a>
  </div>
</td>