<div class="row">
  <div class="col-lg-7 col-md-6 ">
    <div class="panel panel-transparent">
      <div class="panel-body">
        <form id="form-personal" role="form" autocomplete="off">
          <div class="row clearfix">
            <div class="col-sm-6">
              <div class="form-group form-group-default required">
                <label>Nombre</label>
                <input id="firstname" type="text" class="form-control" name="firstName" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>Apellidos</label>
                <input id="lastname" type="text" class="form-control" name="lastName" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default required">
                <label>Nombre de usuario</label>
                <input id="username" type="text" class="form-control error" name="username" placeholder="Nombre de usuario no debe contener espacios" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default required">
                <label>Contraseña</label>
                <input id="password" type="password" class="form-control" name="password" placeholder="Minimo de 4 caracteres" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Repetir contraseña</label>
                <input id="confirm" type="password" class="form-control" name="confirm" placeholder="Debe ser igual a la contrasela ingresada" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Correo</label>
                <input id="email" type="email" class="form-control" name="email" placeholder="Puede recibir un correo de confirmacion" required>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <button class="btn btn-primary save" type="submit">Crear nueva cuenta</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-6">
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">Lorem ipsum
        </div>
      </div>

      <div class="panel-body">
        <h3>Neque porro quisquam est qui dolorem <br>
            ipsum quia dolor sit amet, consectetur, adipisci velit...</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
          <br> elit. Aenean accumsan sit amet mauris vitae malesuada.
          <br>Integer congue eleifend ex, vel.</p>
        <br>
        <p class="small hint-text m-t-5">Suspendisse consectetur
          <br> sodales ante</p>
        <button class="btn btn-primary btn-cons">Mas</button>
      </div>
    </div>
  </div>
</div>