
    <!-- START PAGE-CONTAINER -->
   
      <!-- START Login Right Container-->
      <div class="container-login">
        <div class="p-l-50 m-l-20 p-r-50  p-t-50  sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <p class="p-t-35">Identificate o registrate</p>
          <!-- START Login Form -->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Usuario</label>
              <div class="controls">
                <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" required>
              </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Cotraseña</label>
              <div class="controls">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
              </div>
            </div>
            <!-- START Form Control-->
            <div class="row">
              <div class="col-md-5 no-padding checkbox-margin">
                <div class="checkbox ">
                  <input type="checkbox" value="1" id="checkbox1">
                  <label for="checkbox1">Mantenerme dentro</label>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <a href="#" class="text-info small">Registrarse</a>
              </div>
            </div>
            <!-- END Form Control-->
            <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
          <!--END Login Form-->
          <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            </div>
          </div>
        </div>
      </div>
      <!-- END Login Right Container-->
  
    <!-- END PAGE CONTAINER -->
