
<!-- START PAGE-CONTAINER -->

<!-- START Login Right Container-->
<div class="container-login">
  <div id="login-head">
    <h2>Iniciar sesión</h2>
  </div>
  <div id="box-login" class="p-l-50 p-r-50  sm-p-l-15 sm-p-r-15 sm-p-t-40">
    <!-- START Login Form -->
      <!-- START Form Control-->
      <form id="login">
        <div class="form-group form-group-default">
          <label>Usuario</label>
          <div class="controls">
            <input id="username" type="text" name="username" placeholder="Nombre de usuario" class="form-control" required>
          </div>
        </div>
        <!-- END Form Control-->
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Cotraseña</label>
          <div class="controls">
            <input id="password" type="password" class="form-control" name="password" placeholder="Contraseña" required>
          </div>
        </div>
        <!-- START Form Control-->
        <div class="row">
          <div class="col-md-5 no-padding">
            <div class="checkbox ">
              <input type="checkbox" value="1" id="checkbox1">
              <label for="checkbox1">Mantenerme dentro</label>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <a href="../registrar/" class="text-info small">Registrarse</a>
          </div>
        </div>

        </form>
        <a href="../"><button id="singin" class="btn btn-cons m-t-10">Iniciar</button></a> 
      <!-- END Form Control-->
        
    <!--END Login Form-->
    <div class="pull-bottom sm-pull-bottom">
      <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
      </div>
    </div>
  </div>
</div>
<!-- END Login Right Container-->
<!-- END PAGE CONTAINER -->