<div class="dropzone-container">
  <div class="row">
  	<i class="fa fa-cloud-upload image-upload"></i>
  </div>
  <div class="row"> 

  	<button class="btn btn-cons btn-success m-b-10 button-add" type="button">
  	  <i class="fa fa-cloud-upload"></i> 
  	  <span class="bold">Añadir</span>
    </button>

  </div>
  <form id="dropzone" action="/target" class="dropzone"></form>
  <div class="button-container">
	  
	  <button class="btn btn-cons btn-info" type="button">
		  <i class="fa fa-arrow-left"></i>
		  <span class="bold">Regresar</span>
	  </button>

	  <button class="btn btn-cons btn-info button-next" type="button">
		  <span class="bold">Siguiente</span>
		  <i class="fa fa-arrow-right"></i>
		 </button>
  </div>
</div>