<div class="dropzone-container">
  <div class="row">
  	<i class="fa fa-cloud-upload image-upload"></i>
  </div>
  <div class="row"> 

  	<span class="btn btn-cons btn-success m-b-10 button-add clickable-dropzone">
  	  <i class="fa fa-plus"></i>
  	  <span class="bold">Añadir</span>
    </span>

  </div>
  <form id="dropzone" action="/target" class="dropzone clickable-dropzone"></form>
  <div class="button-container">
	  
	  <a  href="../" class="btn btn-cons btn-info">
		  <i class="fa fa-arrow-left"></i>
		  <span class="bold">Regresar</span>
	  </a>

	  <span class="btn btn-cons btn-info button-next success-trigger">
		  <span class="bold">Siguiente</span>
		  <i class="fa fa-arrow-right"></i>
		 </span>
  </div>
</div>