<div class="dropzone-container">
  <div class="row">
  	<i class="fa fa-cloud-upload"></i>
  </div>
  <div class="row"> 
  	<button class="btn btn-success btn-cons m-b-10" type="button">
  	  <i class="fa fa-cloud-upload"></i> 
  	  <span class="bold">Upload</span>
    </button>
  </div>
  <form id="dropzone" action="/target" class="dropzone"></form>
</div>