<div class="dropzone-container">
  <div class="row">
    <i class="fa fa-cloud-upload image-upload"></i>
  </div>

  <div id="actions" class="row">
    <div class="col-xs-3"></div>
    
    <div class="col-xs-2">
      <button class="btn btn-primary btn-cons m-b-10 fileinput-button dz-clickable"  type="button">
        <i class="fa fa-plus"></i>
        <span class="bold">Añadir</span>
      </button>
    </div>

    <div class="col-xs-2">
      <button class="btn btn-success btn-cons m-b-10 start" type="button">
        <i class="fa fa-cloud-upload"></i> 
        <span class="bold">Iniciar</span>
      </button>
    </div>

    <div class="col-xs-2">
      <button type="reset" class="btn btn-warning btn-cons m-b-10 cancel" type="button">
        <i class="fa fa-ban"></i>
        <span class="bold">Cancelar</span>
      </button>
    </div>

    <div class="col-xs-3">
      <!-- The global file processing state -->
      <span class="fileupload-process">
        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
          <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
        </div>
      </span>
    </div>

  </div>

  <div class="table table-striped " id="previews">
    <div id="template" class="file-row ">
    <!-- This is used as the file preview template -->
      <div>
          <span class="preview"><img data-dz-thumbnail=""></span>
      </div>
      <div>
          <p class="name" data-dz-name=""></p>
          <strong class="error text-danger" data-dz-errormessage=""></strong>
      </div>
      <div>
          <p class="size" data-dz-size=""><strong</p>
          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
          </div>
      </div>
      <div>
        <button class="btn btn-primary start">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start</span>
        </button>
        <button data-dz-remove="" class="btn btn-warning cancel">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel</span>
        </button>
        <button data-dz-remove="" class="btn btn-danger delete">
          <i class="glyphicon glyphicon-trash"></i>
          <span>Delete</span>
        </button>
      </div>
    </div> 
  </div>  
</div>
<div class="row">
  <div class="col-xs-6"></div>
  <div class="col-xs-2">
    <a  href="../" class="btn btn-cons btn-info">
      <i class="fa fa-arrow-left"></i>
      <span class="bold">Regresar</span>
    </a>
  </div>
  <div class="col-xs-2">
    <span class="btn btn-cons btn-info button-next">
      <span class="bold">Siguiente</span>
      <i class="fa fa-arrow-right"></i>
    </span>
  </div>
</div>

