<div class="container-xs-height full-height">
  <div class="row-xs-height">
    <div id="error-message" class="col-xs-height col-middle"></div>
  </div>
</div>
<div class="pull-bottom sm-pull-bottom full-width">
  <div class="error-container">
    <div class="error-container-innner">
      <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
        <div class="col-sm-3 no-padding">
          <img alt="" class="m-t-5" data-src="/images/pages_icon.png" data-src-retina="/images/pages_icon_2x.png" height="60" src="/images/pages_icon.png" width="60">
        </div>
        <div class="col-sm-9 no-padding">
          <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet mauris rhoncus, vestibulum leo ut, condimentum diam.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>