<div class="welcome-message">
  <h1 >Bienvenido a dashboards</h1>
	<p>La aplicacion que te permite crear dashboards y compartilos con otros usuarios</p>
	<p></p>
</div>

<div id="mainpage-body"></div>