  <div class="welcome-message">
    <h1 >Bienvenido a dashboards</h1>
  	<p></p>
  	<p></p>
  </div>

  <div id="mainpage-body">
  	
  	<div class="mainpage-box">
  		<i class="fa fa-bar-chart"></i>
  		<p> Crea tus propios dashboards </p>
      <a href="dashboard/crear/" class="btn btn-tag btn-tag-rounded">Link me</a>
  	</div>

  	<div class="mainpage-box">
  		<i class="fa fa-upload"></i>
  		<p> Sube tus fuentes de información </p>
      <a href="fuentes/" class="btn btn-tag btn-tag-rounded">Link me</a>
  	</div>

  	<div class="mainpage-box">
  		<a href="usuarios/perfil/"><i class="fa fa-user"></i></a>
  		<p> Edita tu perfil, ayudanos a conocerte</p>
      <a href="usurios/perfil" class="btn btn-tag btn-tag-rounded">Link me</a>
  	</div>

  	<div class="mainpage-box">
  		<i class="fa fa-users"></i>
  		<p> Añade usuarios a los dashboards que tú hayas creado </p>
      <a href="usurios/perfil" class="btn btn-tag btn-tag-rounded">Link me</a>
  	</div>
  </div>
