<div class="col-xs-height">
  <div class="p-l-20 p-r-20">
    <p>Server: www.revox.io</p>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <h4 class="bold no-margin">5.2GB</h4>
        <p class="small no-margin">Total usage</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class=" no-margin p-t-5">227.34KB</h5>
        <p class="small no-margin">Currently</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class=" no-margin p-t-5">117.65MB</h5>
        <p class="small no-margin">Average</p>
      </div>
      <div class="col-lg-3 visible-xlg">
        <div class="widget-14-chart-legend bg-transparent text-black no-padding pull-right rickshaw_legend">
          <ul class="ui-sortable">
            <li class="line ui-sortable-handle">
              <a class="action">✔</a>
              <div style="background-color: rgb(230, 230, 230);" class="swatch"></div>
              <span class="label">Web Server</span>
            </li>
            <li class="line ui-sortable-handle">
              <a class="action">✔</a>
              <div style="background-color: rgba(64, 217, 202, 0.5);" class="swatch"></div>
              <span class="label">DB Server</span>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="rickshaw-realtime rickshaw-chart"></div>
