<td colspan="5" class="text-justify">
  <h1> Sin registros</h1>
  <h3> No hemos encontrado nada en nuestra base de datos de usuarios, es posible que la información no esté disponible temporalmente o aún no haya usuarios dados de alta. Puede utilizar el botón de arriba para agregar un nuevo usuario si así lo desea.<h3>
</td>