<div class="container-fluid container-fixed-lg bg-white">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">Usuarios</div>
      <div class="btn-group pull-right m-b-10">
        <a href="/app/usuarios/crear/">
          <button id= "save" type="button" class="btn btn-default">
              Añadir usuario
          </button>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <th class="col-xs-5">Nombre</th>
            <th class="col-xs-3">Usuario</th>
            <th class="col-xs-3">Correo</th>
            <th class="col-xs-2">Sexo</th>
            <th class="col-xs-1"><th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
