<div class="item-container">
  <i class="fa fa-times pull-right padding-25 delete"></i>
  <div class="top bg-{{color}}-dark text-white">
    <p class="h3"> {{tipo}} </p>
  </div>
  <div class="middle bg-{{color}}-dark">
    <a href="#" class="btn btn-tag btn-tag-rounded pull-right text-white">Link me</a>
  </div>
  <div class="bottom bg-white">
    <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Sed ac porta turpis, <strong>et volutpat</strong> leo.</p>
  </div>
</div>
