<div class="save-dashboard"></div>
<button type="button" class="btn btn-complete btn-cons add">Agregar</button>
<button type="button" class="btn btn-complete btn-cons save margin-top-5-per">Guardar</button>
<hr>
<div class="modal-configurator"></div>
<ul class="list-unstyled"></ul>