<div class="save-dashboard"></div>
<button class="btn btn-primary btn-cons btn-animated from-left fa fa-plus add" type="button">
   <span>Agregar</span>
</button>
<button class="btn btn-primary btn-cons btn-animated from-left fa fa-save save" type="button">
   <span>Guardar</span>
</button>
<div class="modal-configurator"></div>
<ul class="list-unstyled"></ul>