<div class="row">
  <div class="col-lg-7 col-md-6 ">
    <div class="panel panel-transparent">
      <div class="panel-body">
        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default required">
              <label>Nombre</label>
              <input type="text" id="name" class="form-control" autocomplete="off" required="true" placeholder="Nombre del Dashboard">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>Descripción</label>
              <!-- the style has been added while find another way to fix the textarea's height. The class form-group-default has a default height-->
              <textarea   id="description" class="form-control" style="height: inherit" rows="11" ></textarea>
            </div>
          </div>
        </div>

        <button class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-6">
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">Lorem ipsum
        </div>
      </div>
      <div class="panel-body">
        <h3>Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit...</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Aenean accumsan sit amet mauris vitae malesuada.
            Integer congue eleifend ex, vel.</p>
        <p class="small hint-text m-t-5">Suspendisse consectetur
          <br> sodales ante</p>
        <button class="btn btn-primary btn-cons">Mas</button>
      </div>
    </div>
  </div>
</div>