<div class="modal fade fill-in in" id="modalFillIn" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
  <i class="pg-close"></i>
  </button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="img-container">
          <i class="fa fa-wrench"></i>
        </div>
        <br>
        <h5 class="text-left p-b-5"><span class="semi-bold"><center>Configura tu Widget</center></span></h5>
      </div>
      <hr>
      <div class="modal-body">
        <!--Tittle of Widget-->
        <br>
        <div class="row">
          <div class="col-md-7">
            <h5 class="text-left p-b-5"><span class="semi-bold"><strong>Escriba un titulo para la el Widget</strong></span></h5>
          </div>
          <div class="col-md-5">
            <input type="text" placeholder="Titulo del Widget" class="form-control bgc-gray title" id="titulo" name="icon-filter">
          </div>
        </div>
        <br>
        <!--Type of Source-->
        <div class="row">
          <div class="col-md-7">
            <h5 class="text-left p-b-5"><span class="semi-bold"><strong>Selecionar tipo de Fuente</strong></span></h5>
          </div>
          <div class="form-group col-md-5">
            <button class="btn bgc-gray btn-cons sources">Fuente</button>
          </div>
        </div>
        <br>
        <!--Type of Widget-->
        <div class="row">
          <div class="col-md-7">
            <h5 class="text-left p-b-5"><span class="semi-bold"><strong>Seleecionar tipo de Widget</strong></span></h5>
          </div>
          <div class="form-group col-md-5">
            <select class="form-control bgc-gray type-widget">
              <option>Grafica de Barras</option>
              <option>Grafica de Lineas</option>
              <option>Grafica de Area</option>
              <option>Gafica de Tiempo Real</option>
            </select>
          </div>
        </div>
        <br>
        <!--Complete Button-->
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-6"></div>
          <div class="col-md-3 col-sm-3 col-xs-4">
            <button class="btn btn-success btn-cons complete">Complete</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>