<div class="panel-heading separator">
  <div class="panel-title"></div>
  <a href=""><i class="fa fa-times remove pull-right"></i></a>
  <a href=""><i class="fa fa-cog options pull-right"></i></a>
  <a href=""><i class="fa fa-user pull-right" data-toggle="modal" data-target="#myModal"></i></a>
</div>
<div class="panel-body"></div>
