<div class="panel-heading separator">
  <div class="panel-title">{{Titulo}}</div>
  <a href=""><i class="fa fa-times remove pull-right"></i></a>
  <a href=""><i class="fa fa-cog options pull-right"></i></a>
</div>
<div class="panel-body"></div>
